header{
    display: flex;
    align-items: center;
    column-gap: 64px;
    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
}

header img{
    padding: 10%;
    width: 200px;
    height: auto;
}
.navigation{
    display: flex;
    align-items: center;
    columns: 48px;
    list-style: none;
}

.navigation_link{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 18px;

    position: relative;
}

.navigation_link:hover{
    color: var(--blue);
}

.navigation_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;

    width: 100%;
    height: 1px;
    background: var(--blue);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.navigation_link:hover::after{

    transform: scaleX(1);
    transform-origin:left;
}
.navigation_social{
    margin-left: auto;

    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation_social svg{
    padding-right: 50%;
    width: 50px;
    height: 50px;
    opacity: 0.6;
}

.navigation_social svg:hover{
    opacity: 100%;
    transform: translateY(-5px);
    cursor: pointer;
}